body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #af2626;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}