#signup-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--cafe-background);
}

#signup-body .form-signup {
    width: 100%;
    max-width: 340px;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 12%;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color: var(--cafe-white);
}

#signup-body .form-signup .form-floating:focus-within {
    z-index: 2;
}

#signup-body .first-input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#signup-body .other-input {
    margin-bottom: -1px;
    border-radius: 0;
}

#signup-body .last-input {
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#signup-body .button-signup {
    background-color: var(--cafe-primary);
    border: none;
    transition: background-color 200ms;
}

#signup-body .button-signup:hover,
.button-signup:active,
.button-signup:visited,
.button-signup:focus {
    background-color: var(--cafe-black);
}